
<div class="row">
    <h2>
        That's is now set up, what next?
    </h2>
    <form method="post">
        <button type="submit" class="btn btn-default" name="thing" value="resources">I want to access some resources</button><br/>
        <button type="submit" class="btn btn-default" name="thing" value="instance">I want to add another instance</button><br/><br/>
        <button type="submit" class="btn btn-success" name="thing" value="done">That's it give me the script</button><br/><br/>

    </form>
</div>