
<div class="row">
    <h2>
        And what kind of resource would you like access?
    </h2>
    <form method="post">
        <button type="submit" class="btn btn-default" name="thing" value="instancetags">The app needs to know about where it's running</button><br/>
        <button type="submit" class="btn btn-default" name="thing" value="cloudwatch">The app needs to log to CloudWatch</button><br/>
        <button type="submit" class="btn btn-default" name="thing" value="s3">The app needs to read an S3 bucket</button><br/>
        <button type="submit" class="btn btn-default" name="thing" value="done">actually the app is fine.</button><br/>

    </form>
</div>